body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.moving-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg, #3498db, #e74c3c);
  background-size: 200% 200%;
  animation: moveBg 10s linear infinite;
}
@keyframes moveBg {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
header {
  background-color: rgba(44, 62, 80, 0.9);
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}
h1 {
  margin: 0;
  font-size: 2.5em;
}
p {
  margin: 5px 0;
  font-size: 1.2em;
}
main {
  padding: 20px;
  position: relative;
  z-index: 1;
}
h2 {
  background-color: #34495e;
  color: #ecf0f1;
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  background: #ecf0f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
