body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding-top: 60px; /* Add padding to avoid content being hidden */
  overflow: auto;
}
.moving-bg {
  position: fixed; /* Fixed position to stay in the background */
  top: 0;
  left: 0;
  height: 100vh; /* Ensure it covers the entire viewport height */
  width: 100%;
  background: linear-gradient(270deg, #3498db, #e74c3c);
  background-size: 200% 200%;
  animation: moveBg 10s linear infinite;
  z-index: -1; /* Ensure it's behind the content */
}
@keyframes moveBg {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
header {
  background-color: rgba(44, 62, 80, 0.9);
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 15px;
  background: none; /* Ensure no background is applied */
  display: inline-block; /* Ensure anchor tags are displayed inline-block */
}
nav ul li::before {
  content: none; /* Remove any default list item marker */
}
h1 {
  margin: 0;
  font-size: 2.5em;
}
p {
  margin: 5px 0;
  font-size: 1.2em;
}
main {
  padding: 20px;
  position: relative;
  z-index: 1;
}
h2 {
  background-color: #34495e;
  color: #ecf0f1;
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
}
section ul {
  list-style: none; /* Remove bullet points from list items in sections */
  padding: 0;
}
section ul li {
  background: #ecf0f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section {
  margin-bottom: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  header, main {
    padding: 10px;
  }
  h1 {
    font-size: 1.5em;
  }
  p, h2 {
    font-size: 1em;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 5px 0;
  }
}
